@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");

/* Josh Comeau's CSS Reser */

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/* Colors and Fonts */

:root {
  /* ### Primary */

  --Orange: hsl(25, 97%, 53%);

  /* ### Neutral */

  --White: hsl(0, 0%, 100%);
  --Light-Grey: hsl(217, 12%, 63%);
  --Medium-Grey: hsl(216, 12%, 54%);
  --Dark-Blue: hsl(213, 19%, 18%);
  --Very-Dark-Blue: hsl(216, 12%, 8%);

  --ff-base: "Overpass", sans-serif;
  --fw-regular: 400;
  --fw-bold: 700;
}

/* General Settings */
body {
  font-family: var(--ff-base);
  font-size: 0.9375rem;
  color: var(--Light-Grey);
  background-color: var(--Very-Dark-Blue);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.pages {
  position: relative;
  background-color: #1a212b;
  width: 340px;
  height: 381px;
  border-radius: 1.5rem;
}

.rating {
  display: grid;
  gap: 1rem;
  padding: 1.5rem;
}

.rating img {
  border: 1px solid #262f38;
  border-radius: 50%;
  padding: 0.75rem;
  background-color: #262f38;
}

.rating h1 {
  color: var(--White);
}

/* By using labels for each rating and turning the .grade elements invisible, the circles with the numbers inside them become the effective radio elements */

.grade {
  display: none;
}

form {
  display: flex;
  justify-content: space-between;
}

label {
  background-color: #262f38;
  padding: 0.75rem;
  border-radius: 50%;
  width: 42px;
  height: 42px;
  text-align: center;
}

label:hover {
  background-color: var(--Medium-Grey);
  color: var(--White);
  cursor: pointer;
}

input:checked + label {
  background-color: var(--Orange);
}

#sub_button {
  background-color: var(--Orange);
  border: none;
  color: var(--White);
  text-transform: uppercase;
  width: 90%;
  margin: auto;
  padding: 0.6875rem;
  border-radius: 2rem;
  margin-top: 1rem;
}

#sub_button:hover {
  background-color: var(--White);
  color: var(--Orange);
  cursor: pointer;
}

.thankyou {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  gap: 1rem;
  padding: 1.75rem 1.5rem;
  width: 350px;
}

.thankyou {
  color: var(--Medium-Grey);
  text-align: center;
}

.thankyou h2 {
  color: var(--White);
}

.thankyou img {
  margin: auto;
}

.thankyou h3 {
  background-color: #262f38;
  color: var(--Orange);
  font-size: 0.8125rem;
  width: fit-content;
  place-self: center;
  padding: 0.4375rem 0.75rem;
  border-radius: 1rem;
}

.attribution {
  font-size: 0.6875rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 60em) {
  .pages {
    width: 420px;
    height: 430px;
    padding: 1.25rem;
  }

  .rating {
    font-size: 1.125rem;
    gap: 1.25rem;
  }

  .rating p {
    font-size: 1rem;
  }

  label {
    width: 50px;
    height: 50px;
  }

  #sub_button {
    width: 100%;
  }
}
